* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    padding: 16px 0;
    background-color: #121214;
    color: #fff;
    font-family: 'Roboto Mono', monospace;
}

header .container, #sobre .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

h1 {
    font-size: 45px;
    padding-left: 16px;
    text-align: center;
}

h1 img {
    width: 50px;
    height: 50px;
    background-color: #E1D4BB;
    border-radius: 32px;
}

ul{
    margin-right: 2em;

}

.sacola img {
    width: 1.7em;
    height: 1.5em;
}

header nav li {
    display: inline-flex;
    margin-left: 2em;
    font-size: 20px;
}

header nav li a {
    text-decoration: none;
    color: #fff;
}

#sobre {
    background-color: #E1D4BB;
    padding: 24px 0;
    color: rgba(0, 0, 0, 0.888);
}

#sobre h2 {
    margin-bottom: 16px;
    font-family: 'Roboto Mono', monospace;
}

#sobre p {
    margin-bottom: 8px;
    text-align: justify;
}

.store {
    margin-right: 32px;
    width: 700px;
    height: 700px;
}

#itens-disponiveis {
    background-color: #d8d0d0;
    padding-bottom: 16px;
}

#itens-disponiveis h2{
    padding: 38px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}

.item {
    border: solid #537188;
    margin-right: 8px;
    text-align: center;
}

ul {
    display: flex; /*para que os elementos dentro da tag UL fiquem um ao lado do outro*/
    flex-wrap: wrap; /*para que quando chegar ao limite da tela, crie-se uma nova linha */
    margin: 0 48px;
    justify-content: center;
}

ul li {
    list-style: none;
}

ul li img {
    width: 300px;
    height: 320px;
}

h3, h4 {
    text-align: center;
    font-family: Roboto, sans-serif;
    padding: 5px;
}

h4 {
    font-style: italic;
}

button {
    padding: 8px;
    font-size: 16px;
    text-transform: uppercase;
    background-color: #537188;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    margin-bottom: 8px;
}

footer {
    padding-top: 32px;
    background-color: #121214;
    color: #fff;
}

.rodape{
    text-align: center;
}

footer .rodape p {
    padding-bottom: 13px;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    width: 32px;
    height: 32px;
    margin-bottom: 16px;
}

@media screen and (max-width: 640px) {
    header {
        padding: 8px;
        border:blue solid;
        padding-left: 2em;
    }
   header > .container {
    display: inline-block;
   }
   header .container h1{
    font-size: 37px;
   }

   header .container h1 img{
    width: 28px;
    height: 28px;
   }
   .container nav{
    text-align: center;
   }

   nav ul {
    text-align: center;
    padding: 8px 0;
    margin: 0;
   }

   nav ul li{
    margin: 0 16px;
   }

   .sacola img{
    width: 20px;
    height: 20px;
   }
   
   #sobre .container {
    display: block;
    margin: 0 5%;
   }
   #sobre .store {
     max-width: 100%;
     width: 100%;
     height: 50%;
   }
   #sobre h2, #itens-disponiveis h2 {
    font-size: 21px;
    text-align: center;
   }
}

@media screen and (min-width: 641px) and (max-width: 1023px){
    header {
        padding: 1em;
        display: flex;
        justify-content: space-between;
    }

    header .container {
        align-items: center;
    }
    
    h1 {
        font-size: 35px;
        padding: 8px;
    }
    
    h1 img {
        width: 40px;
        height: 40px;
    }

    nav ul{
        margin: 0;
    }
    
    header nav li {
        margin-left: 21px;
    }
    
    .sacola img {
        width: 30px;
        height: 25px;
    }

    #sobre .container {
        display: block;
        padding: 1em;
        justify-content: center;
    }

    #sobre h2, #itens-disponiveis h2 {
        text-align: center;
        padding-top: 1em;
    }

    .container .store{
        max-width: 100%;
        height: 50%;
    }

    #itens-disponiveis ul{
        border: none;
        display: grid;
        grid-template-columns: repeat(2, 48%);
    }

    .item img {
        max-width: 100%;
        width: 100%;
        height: 50%;
    }

    footer ul li img {
        width: 35px;
        height: 35px;
    }
}